@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}

body {
  @apply h-full bg-[#ebebeb];
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  }
  .main-background {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0,0,0,.06);
  }
  .text-common {
    color: #424242;
    font-size: 14px;
    line-height: normal;
  }
}
